* {
  box-sizing: border-box;
}

/* :root {
  --Font1: "Sarabun";
} */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: var(--Font1);
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

div#root {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}
